In [17]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [18]:
# Load necessary libraries
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [21]:
# 1. Load the dataset
# Assuming the file is named 'Online Retail.csv' and is in your working directory
df <- read.csv("online_retail.csv", stringsAsFactors = FALSE)
head(df)

  Invoice StockCode Description                         Quantity InvoiceDate
1 536365  85123A    WHITE HANGING HEART T-LIGHT HOLDER  6        12/1/2010 8:26
2 536365  71053     WHITE METAL LANTERN                 6        12/1/2010 8:26
3 536365  84406B    CREAM CUPID HEARTS COAT HANGER      8        12/1/2010 8:26
4 536365  84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6        12/1/2010 8:26
5 536365  84029E    RED WOOLLY HOTTIE WHITE HEART.      6        12/1/2010 8:26
6 536365  22752     SET 7 BABUSHKA NESTING BOXES        2        12/1/2010 8:26
  Price Customer.ID Country
1 2.55  17850       United Kingdom
2 3.39  17850       United Kingdom
3 2.75  17850       United Kingdom
4 3.39  17850       United Kingdom
5 3.39  17850       United Kingdom
6 7.65  17850       United Kingdom

In [22]:
print(colnames(df))

[1] "Invoice"     "StockCode"   "Description" "Quantity"    "InvoiceDate"
[6] "Price"       "Customer.ID" "Country"

In [23]:
# 2. Remove rows with missing CustomerID
df_clean <- df %>% filter(!is.na(Customer.ID))

In [24]:
# 3. Replace missing values in UnitPrice and Quantity with their median
# First check if these columns contain NA values
df_clean$UnitPrice[is.na(df_clean$UnitPrice)] <- median(df_clean$UnitPrice, na.rm = TRUE)
df_clean$Quantity[is.na(df_clean$Quantity)] <- median(df_clean$Quantity, na.rm = TRUE)

In [25]:
# 4. Save the cleaned dataset
write.csv(df_clean, "processed_online_retail.csv", row.names = FALSE)

In [26]:
# Optional: View the structure of cleaned data
str(df_clean)

'data.frame':	406830 obs. of  8 variables:
 $ Invoice    : chr  "536365" "536365" "536365" "536365" ...
 $ StockCode  : chr  "85123A" "71053" "84406B" "84029G" ...
 $ Description: chr  "WHITE HANGING HEART T-LIGHT HOLDER" "WHITE METAL LANTERN" "CREAM CUPID HEARTS COAT HANGER" "KNITTED UNION FLAG HOT WATER BOTTLE" ...
 $ Quantity   : num  6 6 8 6 6 2 6 6 6 6 ...
 $ InvoiceDate: chr  "12/1/2010 8:26" "12/1/2010 8:26" "12/1/2010 8:26" "12/1/2010 8:26" ...
 $ Price      : num  2.55 3.39 2.75 3.39 3.39 7.65 4.25 1.85 1.85 4.25 ...
 $ Customer.ID: int  17850 17850 17850 17850 17850 17850 17850 17850 17850 13047 ...
 $ Country    : chr  "United Kingdom" "United Kingdom" "United Kingdom" "United Kingdom" ...